<div class="mt-4">
    <h3>Cập Nhật Khóa Học</h3>
    <form class="mt-4" method="POST" action="/courses/{{course._id}}?_method=PUT" onsubmit="return validateCreate()">
        <div class="form-group">
            <label for="exampleInputEmail1">Tên Khóa Học</label>
            <input name="name" type="text" class="form-control" value="{{course.name}}" id="name" autocomplete="off" required  title="Vui lòng không nhập kí tự đặc biệt" pattern='([a-zA-Z0-9]+)'>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Mô Tả</label>
            <input name="description" class="form-control" id="description" required  title="Vui lòng không nhập kí tự đặc biệt" pattern='([a-zA-Z0-9]+)' value="{{course.description}}" />
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Video ID</label>
            <input name="videoId" type="text" class="form-control" value="{{course.videoId}}" id="videoId" autocomplete="off" required  title="Vui lòng không nhập kí tự đặc biệt" pattern='([a-zA-Z0-9]+)'>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Trình Độ</label>
            <input name="level" type="text" class="form-control" value="{{course.level}}" id="level" autocomplete="off" required  title="Vui lòng không nhập kí tự đặc biệt" pattern='([a-zA-Z0-9]+)'>
        </div>


        <button type="submit" class="btn btn-primary" value="submit" >Save</button>
    </form>
</div>
